{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "type-empty": [2, "never"],
    "no-explicit-any": "off"
  }
}
