# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# VSCode & IDE settings
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
*.pid

# Tests
coverage/
htmlcov/
.pytest_cache/
.tox/

# Build
build/
